.float-left{
    display: flex;
    justify-content: start;
}
.float-center{
    display: flex;
    justify-content: center;
}
.float-right{
    display: flex;
    justify-content: end;
}

.card-display {
    width: 5rem;
    height: 7rem;
    padding: 0.5rem;
    color: black;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;;
}