.card-grid{
    grid-template-columns: 100%;
    grid-template-rows: 3rem auto;
    height: 100%;
    overflow: clip;
}

.hand {
    overflow: scroll;
    height:90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    background-color: rgb(109, 109, 109);
}

.bottom-white-divider{
    border-bottom: 2px solid white;
}
