#root {
  max-width: 1280px;
  min-height: 100%;
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
}

.app-layout{
  display: grid;
  grid-template-areas: 
    "head head"
    "dice1 card"
    "dice2 card";
  grid-template-rows: 10vh 70vh 20vh;
  grid-template-columns: 1.5fr 2fr;
}
.overflow-scroll{
  overflow: scroll;
}

.overflow-clip{
  overflow: clip;
}
.dice1-area{
  grid-area: dice1;
}
.dice2-area{
  grid-area: dice2;
}
.card-area{
  grid-area: card;
}


h1 {
  margin-top: 1rem;;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.gap-1{
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.grid {
  display: grid;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-1-row{
  grid-template-rows: 100%;
}

.grid-2-row{
  grid-template-rows: 1fr 1fr;
}

.full-width {
  width: 100vw;
}

.pad-1 {
  padding: 1rem;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.invalid-input{
  border: 2px red dashed;
}

.justify-items-space-between {
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center;
}

.full-height {
  min-height: 100%;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-center {
  align-content: center;
}

.align-content-start {
  align-content: start;
}

.responsive-show {
  display: none;
}

.responsive-hide {
  display: inline-block;
}

.default-border{
  border: 1px white solid;
}

.example-text {
  color: rgb(143, 143, 143);
  font-style: italic;
  font-size: small;
}

@media (max-width: 1280px) {
  .responsive-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .responsive-grid-column{
    grid-template-columns: 100%;
    grid-template-areas:  "dice1"
                          "dice2"
                          "card";
    grid-template-rows: fit-content 1fr 1fr;
  }

  .responsive-show {
    display: block;
  }

  .responsive-hide {
    display: none;
  }
  
}